:root {
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  --Very-dark-blue-main: hsl(217, 54%, 11%);
  --Very-dark-blue-card: hsl(216, 50%, 16%);
  --Very-dark-blue-line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);

  --Danger: #e10000;
  --Danger-light: #e88f8f;
}

html,
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--Very-dark-blue-main);
}

@media (max-width: 500px) {
  .container-signIn {
    height: 90vh;
  }
}

@media (min-width: 500px) {
  .container-signIn {
    height: 100vh;
  }
}

html{
    box-sizing: border-box;
}

body{
    height: 100vh;
}

*, *:before, *:after{ box-sizing: inherit;}

.main-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-bg{ 
  background-color: white;
}

.custom--navbar{
  background-color: var(--Very-dark-blue-card);
  margin-bottom: 15px;
  height: 60px;
}

/* Modal */
.ReactModalPortal > div{
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity .2s ease-in-out;
  z-index: 999;
}

.modal-fondo {
  background-color: rgba(29, 27, 27, 0.6);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background-color: white;
  border-radius: 5px;
  color: #333;
  display: inline;
  max-height: 620px;
  max-width: 500px;
  outline: none;
  padding: 15px 30px;
}

.modal input,
.modal textarea,
.modal input:focus,
.modal textarea:focus{
  background-color: #f6f6f6;
}

.btn--custom{
  color: white;
  background-color: var(--Very-dark-blue-main);
}

.btn--custom__red{
  background-color: var(--Danger);
}

.btn--closeModal,
.btn--closeModal:active,
.btn--closeModal:focus {
  outline: none;
  border: none;
}


/* FABS */
.fab{
  border-radius: 100%;
  bottom: 25px;
  font-size: 18px;
  padding: 15px;
  position: fixed;
  right: 25px;
  border: none;
}

.btn--custom:hover{
  color: white;
  background-color: var(--Very-dark-blue-line); 
}

.fab-delete{
  border-radius: 100%;
  bottom: 90px;
  font-size: 17px;
  padding: 15px;
  position: fixed;
  right: 25px;
  border: none;
}

.fab-delete:hover{
  background-color: var(--Danger-light); 
} 