:root {
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  --Very-dark-blue-main: hsl(217, 54%, 11%);
  --Very-dark-blue-card: hsl(216, 50%, 16%);
  --Very-dark-blue-line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}

html,
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--Very-dark-blue-main);
}

@media (max-width: 500px) {
  .container-signIn {
    height: 90vh;
  }
}

@media (min-width: 500px) {
  .container-signIn {
    height: 100vh;
  }
}

html{
    box-sizing: border-box;
}

body{
    height: 100vh;
}

*, *:before, *:after{ box-sizing: inherit;}

.main-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-bg{ 
  background-color: white;
}

.custom--navbar{
  background-color: var(--Very-dark-blue-card);
  margin-bottom: 15px;
  height: 60px;
}

/* Modal */
.ReactModalPortal > div{
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity .2s ease-in-out;
  z-index: 999;
}

.modal-fondo {
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background-color: var(--Very-dark-blue-main);
  border-radius: 5px;
  color: white;
  display: inline;
  max-height: 620px;
  max-width: 500px;
  outline: none;
  padding: 15px 30px;
}